include head

script(src="/javascript/timetable.js")

- var days = ["mon", "tue", "wed", "thur", "fri"]
mixin timerow(time)
  tr
    each day in days
      td= day + time

// Grid of days and times 
table#our_table(cellpadding="0", cellspacing="0")
  - for (var x = 8; x <= 17; ++x)
    - if (x < 10) x = '0' + x
    +timerow(x)

